body {
  background-color: rgb(241, 241, 237);
}

main {
  padding: 2rem 0;
}

a {
  display: block;
  text-decoration: none;
  color: rgb(241, 241, 237);
}

a:hover {
  color: black;
}

.welcome {
  color: white;
  padding: 3rem 0;
  margin-bottom: 2rem;
  background-color: #4483cc;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sub-welcome {
  color: white;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background-color: #4483cc;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
}

.message {
  text-align: center;
}


.opponents-list > li {
  border-bottom: 1px solid black;
  color: rgb(0, 0, 0);
  font-weight: bold;
  list-style: none;
  text-align: center;
  width: auto;
  line-height: 40px;
  margin-right: 32px;
}

.opponent {
  display: block;
  text-decoration: none;
  color: black;
}

.opponent:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: #4483cc;
}


.opponents-header {
  border-bottom: 1px solid black;
}
