{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div class="welcome">
    <h1 class="title">ようこそ、Janken-Labへ！</h1>
    <p class="subtitle">じゃんけんの勝率をあげましょう</p>
  </div>

  {% if user.is_authenticated %}
    {% if opponents %}
      <ul class="opponents-list">
        <li class="opponents-header">対戦相手一覧</li>
        {% for opponent in opponents %}
            <li>
              <a href="{% url 'janken:op_detail' opponent.id %}" class="opponent">
                {{ opponent.name }}
              </a>
            </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="message">対戦相手がまだいません.</p>
    {% endif %}
  {% endif %}


{% endblock main %}